{% extends "layout.html" %} {% block content %}
<!-- 画面1: プレイヤー決め -->
<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p style="margin-left:15px;">
          二狼
        </p>
        <div class="col-md-12">
          <h3>人数を決めて</h3>
        </div>
        <div class="col-md-12" style="margin-top:10px; margin-bottom:20px;">
          <form action="/participants" method="post" class="form-inline">
            <input type="number" name="participants" value="3" />
            <button type="submit" class="btn btn-primary" style="margin-top:5px;">Upload</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}