{% extends "layout.html" %} {% block content %}
<!-- 画面1: プレイヤー決め -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p style="margin-left:15px; font-weight:bold; font-size:120%;">
        あなたの役職はxxxです。
      </p>
      <p style="margin-left:15px;">
        {{num_p}}自分の行動を選択してください
      </p>
      <div class="col-md-12">
        <h3>人数を決めて</h3>
      </div>
      <div class="col-md-12" style="margin-top:10px; margin-bottom:20px;">

      </div>
    </div>
  </div>
</div>

{% endblock %}