{% extends "layout.html" %} {% block content %}
<!-- 画面1: プレイヤー決め -->

<div class="container">
  <p>ゲームは {{ num_p }} 人で始まりました。</p>
  <div class="col-md-12">
    <p style="margin-left:15px; font-weight:bold; font-size:120%;">
      Player{{now}}さん、
    </p>
    <p style="margin-left:15px; font-weight:bold; font-size:120%;">
      あなたの役職は{{data[0]["player_{}".format(now)]['position']}}です。
      <img src='{{image_url}}' />
    </p>

    <form method="post" action="/playing_do" class="form-inline">
      <input name='game_info' style='visibility: hidden;' type="text" value="{{ data_dump }}"> {% if data[0]["player_{}".format(now)]['position'] == '新規' %}
      <p style="margin-left:15px;">
        自分の行動を選択してください。
      </p>
      <p>どの人に厄介行為をしますか？
        <br> {% for i in range(num_p) %} {% if i+1 != now %}
        <input type="radio" name="player" value="True">Player{{i+1}} {%endif%} {%endfor%}
      </p>
      {% elif data[0]["player_{}".format(now)]['position'] == 'ジロリアン' %}
      <p>新規の味方です。見守ってあげましょう。。</p>
      {% elif data[0]["player_{}".format(now)]['position'] == '一般人' %}
      <p>一般人はただ見守るだけです。地蔵になりましょう。</p>
      {% elif data[0]["player_{}".format(now)]['position'] == '店員' %}
      <p style="margin-left:15px;">
        自分の行動を選択してください。
      </p>
      <p>どの人が新規だと思いますか？
        <br> {% for i in range(num_p) %} {% if i+1 != now %}
        <input type="radio" name="player" value="True">Player{{i+1}} {%endif%} {%endfor%}
      </p>
      {% elif data[0]["player_{}".format(now)]['position'] == 'かえぽん' %}
      <p style="margin-left:15px;">
        自分の行動を選択してください。
      </p>
      <p>どの人がどんな人なのか確認できます。選んでください。
        <br> {% for i in range(num_p) %} {% if i+1 != now %}
        <input type="radio" name="player" value="True">Player{{i+1}} {%endif%} {%endfor%}
      </p>
      {% endif %}
      <p>
        <input type="submit" name="now" value="送信する">
      </p>

    </form>
  </div>
</div>
</div>

{% endblock %}