{% extends "layout.html" %} {% block content %}
<!-- 画面1: プレイヤー決め -->
<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        Player{{now}}さん、
        <p style="margin-left:15px;">
          どの人が新規さんだと思いました？
        </p>
        <p>
          <br>
          <input type="radio" name="player" value="True">Player1
          <input type="radio" name="player" value="True">Player2
          <input type="radio" name="player" value="True">Player3
        </p>
        <div class="col-md-12" style="margin-top:10px; margin-bottom:20px;">
          <form action="/vote" method="post" class="form-inline">
            <button type="submit" value="{}" class="btn btn-primary" style="margin-top:5px;">
              決定
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}